.navbar-brand {
    font-size: 24px;
}

.navbar-nav .nav-link {
    font-size: 18px;
}

.text-container {
    white-space: pre-line;
}

.default-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.default-list-item {
    margin-top: 0;
    margin-bottom: 10px;
}

.styled-submit-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
    font: inherit;
    cursor: pointer;
    text-decoration: underline;
}
.lyrics {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.link {
    text-decoration: none;
}

.ins-rightside {
    display: flex;
    justify-content: right;
}

.ins-fs-7 {
    font-size: 0.75rem;
}

.ins-fs-8 {
    font-size: 0.5rem;
}

/* Круглая кнопка */
.btn-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Размер кнопки */
    height: 40px; /* Размер кнопки */
    background-color: whitesmoke; /* Цвет фона кнопки */
    border-radius: 50%; /* Делает кнопку круглой */
    color: #fff; /* Цвет текста или иконки */
    text-decoration: none;
    padding: 0;
}

.btn-circle:hover {
    background-color: #0056b3; /* Цвет при наведении */
}

/* Стили для изображения внутри кнопки */
.icon-img {
    width: 24px; /* Размер изображения */
    height: 24px;
}