.navbar-brand {
    font-size: 24px;
}

.navbar-nav .nav-link {
    font-size: 18px;
}

.text-container {
    white-space: pre-line;
}

.default-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.default-list-item {
    margin-top: 0;
    margin-bottom: 10px;
}

.styled-submit-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
    font: inherit;
    cursor: pointer;
    text-decoration: underline;
}
.lyrics {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.link {
    text-decoration: none;
}

.ins-rightside {
    display: flex;
    justify-content: right;
}

.ins-fs-7 {
    font-size: 0.75rem;
}

.ins-fs-8 {
    font-size: 0.5rem;
}

.ins-body {
    background-color: #808080;
}

.ins-input {
    background-color: transparent; /* Убирает фон */
    border: none; /* Убирает обводку */
    outline: none; /* Убирает обводку при фокусе */
}

.ins-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Размер кнопки */
    height: 40px; /* Размер кнопки */
    color: #fff; /* Цвет текста или иконки */
    text-decoration: none;
    padding: 0;
}

.ins-btn:hover {
    background-color: gainsboro;
}

.ins-btn-navbar {
    background-color: whitesmoke;
}

.ins-btn-body {
    background-color: whitesmoke;
}

.ins-btn-rectangel {
    border-radius: 8px;
}

.ins-btn-circle {
    border-radius: 50%
}

/* Стили для изображения внутри кнопки */
.ins-icon-img {
    width: 24px;
    height: 24px;
}

.ins-profile-img {
    width: 96px; /* Размер изображения */
    height: 96px;
    border-radius 50%;
}

.ins-profile-img-wrapper {
    display: inline-flex; /* Центрирует изображение по вертикали и горизонтали */
    justify-content: center;
    align-items: center;
    width: 100px; /* Размер круга */
    height: 100px; /* Размер круга */
    border: 3px solid #000000; /* Цвет и толщина линии */
    border-radius: 50%; /* Делаем круг */
    padding: 5px; /* Расстояние между изображением и кругом */
    background-color: #ffffff; /* Цвет фона внутри круга */
}

.ins-full-height-row {
    height: 100vh;
}

/* Фиксируем первые две колонки */
.ins-fixed-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

/* Основная колонка с прокруткой */
.ins-main-col {
    overflow-y: auto;
    padding: 1rem;
}