@model SongsViewModel

<div class="container-md">
    <div class="row mt-3 mb-5">
        <div class="col-md-4">
            <p class="lead text-center">Найти песню на сайте</p>
            <form class="d-flex mt-2">
                <input class="form-control me-1" type="search" placeholder="Поиск" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Найти</button>
            </form>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <p class="lead text-center">Поиск по исполнителю</p>
            <!-- Кириллические буквы -->
            <div class="mb-1">
                <div class="d-flex flex-wrap ins-fs-7">
                    <a href="#" class="mx-1">А</a>
                    <a href="#" class="mx-1">Б</a>
                    <a href="#" class="mx-1">В</a>
                    <a href="#" class="mx-1">Г</a>
                    <a href="#" class="mx-1">Д</a>
                    <a href="#" class="mx-1">Е</a>
                    <a href="#" class="mx-1">Ё</a>
                    <a href="#" class="mx-1">Ж</a>
                    <a href="#" class="mx-1">З</a>
                    <a href="#" class="mx-1">И</a>
                    <a href="#" class="mx-1">Й</a>
                    <a href="#" class="mx-1">К</a>
                    <a href="#" class="mx-1">Л</a>
                    <a href="#" class="mx-1">М</a>
                    <a href="#" class="mx-1">Н</a>
                    <a href="#" class="mx-1">О</a>
                    <a href="#" class="mx-1">П</a>
                    <a href="#" class="mx-1">Р</a>
                    <a href="#" class="mx-1">С</a>
                    <a href="#" class="mx-1">Т</a>
                    <a href="#" class="mx-1">У</a>
                    <a href="#" class="mx-1">Ф</a>
                    <a href="#" class="mx-1">Х</a>
                    <a href="#" class="mx-1">Ц</a>
                    <a href="#" class="mx-1">Ч</a>
                    <a href="#" class="mx-1">Ш</a>
                    <a href="#" class="mx-1">Щ</a>
                    <a href="#" class="mx-1">Ы</a>
                    <a href="#" class="mx-1">Э</a>
                    <a href="#" class="mx-1">Ю</a>
                    <a href="#" class="mx-1">Я</a>
                </div>
            </div>
            <!-- Латинские буквы -->
            <div class="mb-1">
                <div class="d-flex flex-wrap ins-fs-7">
                    <a href="#" class="mx-1">A</a>
                    <a href="#" class="mx-1">B</a>
                    <a href="#" class="mx-1">C</a>
                    <a href="#" class="mx-1">D</a>
                    <a href="#" class="mx-1">E</a>
                    <a href="#" class="mx-1">F</a>
                    <a href="#" class="mx-1">G</a>
                    <a href="#" class="mx-1">H</a>
                    <a href="#" class="mx-1">I</a>
                    <a href="#" class="mx-1">J</a>
                    <a href="#" class="mx-1">K</a>
                    <a href="#" class="mx-1">L</a>
                    <a href="#" class="mx-1">M</a>
                    <a href="#" class="mx-1">N</a>
                    <a href="#" class="mx-1">O</a>
                    <a href="#" class="mx-1">P</a>
                    <a href="#" class="mx-1">Q</a>
                    <a href="#" class="mx-1">R</a>
                    <a href="#" class="mx-1">S</a>
                    <a href="#" class="mx-1">T</a>
                    <a href="#" class="mx-1">U</a>
                    <a href="#" class="mx-1">V</a>
                    <a href="#" class="mx-1">W</a>
                    <a href="#" class="mx-1">X</a>
                    <a href="#" class="mx-1">Y</a>
                    <a href="#" class="mx-1">Z</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12 mt-10">
            <ul class="list-group">
                <p class="lead text-center">Последние добавленные песни</p>
                @if (Model.Songs.Count > 0)
                {
                    @for (int i = 0; i < Model.DisplaySongsCount; i++)
                    {
                        <li class="list-group-item">
                            <a href="@Url.Action("Id", "Song", new { id = Model.Songs[i].Id })" class="text-dark link">@Model.Songs[i].Artist.Title - @Model.Songs[i].Title</a>
                        </li>
                    }
                }
                else
                {
                    <li class="list-group-item">
                        <p class="text-dark">Список пуст</p>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>