@model SongsViewModel

<div class="container-md">
    <div class="row justify-content-center">
        <div class="col-md-10 mt-3">
            <ul class="list-group">
                <p class="lead text-center">Список заявок</p>
                @if (Model.Songs.Count > 0)
                {
                    @foreach (var song in Model.Songs)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="text-dark">@song.Title - @song.Artist.Title</div>
                            <div class="ms-auto me-3 text-muted">
                                @song.CreatedAt.ToString()
                            </div>
                            <form asp-action="Review" asp-controller="Moderator" asp-route-songId="@song.Id" method="post" role="form">
                                <button type="submit" class="btn btn-primary fs-6">Проверить</button>
                            </form>
                        </li>
                    }
                }
                else
                {
                    <li class="list-group-item">
                        <p class="text-dark">Список пуст</p>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>